<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends 'pizzas/base.html' %}

    {% block content %}
        <p>Pizzas to we offer!</p>
        <ul>
            {% for pizza in pizzas %}
            <li>
                <a href="{% url 'pizzas:pizza_id' pizza.id %}">{{ pizza }}</a>
            </li>
            {% empty %}
                <li>Sorry we don't offer any pizza currently</li>
            {% endfor %}
        </ul>
    {% endblock content %}

</body>
</html>